body {
    height: 100vh;
    margin: 0;
    background: rgb(255, 197, 237);
    background: linear-gradient(45deg, rgba(255, 197, 237, 1) 0%, rgba(190, 134, 255, 1) 41%, rgba(136, 235, 255, 1) 87%, rgba(170, 255, 235, 1) 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

button {
    cursor: pointer;
    font-weight: bold;
}

#content {
    width: 1000px;
    height: 800px;
    border-radius: 40px;
    display: flex;
    box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
}

#todo-list {
    width: 30%;
    background-color: rgba(241, 241, 241, 0.8);
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#main {
    width: 70%;
    background-color: rgba(209, 172, 137, 0.4);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 15px;
}

.side-container {
    padding-left: 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.x {
    text-align: right;
    margin: 0;
    cursor: pointer;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(20px);
    width: 100%;
    width: 100%;
}

.blur-p {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    backdrop-filter: blur(20px);
    width: 100%;
    width: 100%;
}

#create-todo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#create-todo-container {
    margin-top: 30vh;
    margin-left: 30vh;
    z-index: 2;
    background-color: white;
    padding: 30px;
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px -1px 55px -4px rgba(0, 0, 0, 0.75);
}

#create-todo-form {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    background-color: rgb(148, 243, 255);
    border: none;
    width: 150px;
    font-size: 20px;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.submitBtn:hover {
    background-color: white;
}

.newBtn {
    font-size: 20px;
    background-color: rgba(241, 241, 241, 0.8);
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -1px -1px 23px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -1px 23px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 23px -4px rgba(0, 0, 0, 0.75);
}

.newBtn:hover {
    background-color: white;
}

.underline {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

#todoTask-container {
    margin-top: 10px;
    border-top: 3px solid white;
    padding-top: 10px;
    overflow: scroll;
    height: 600px;
}

.todoTask {
    margin: 5px;
    width: 100fr;
    background-color: white;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
    display: flex;
    padding: 5px;
    font-size: 20px;
}

.displayNone {
    display: none;
}